body{
    font-family: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabecalho{
    background: #97F813;
    color: white;
}
.logo{
    width: 80px;
    position: relative;
    top: 10px;
    left: 10px;
}
.listaCabecalho{
    display: flex;
    position: relative;
    left: 300px;
}
.item{
    font-size: 20px;
    margin-left: 60px;
}

.nome-site{
    margin: 10px;
}

.notebook{
    background-image: linear-gradient(#97F813, #ffffff);
}
.pcfoto{
    padding: 90px;
}

.Secao2{
    background: linear-gradient(#bff771, #ffffff);
}
.tituloprodutos{
    font-size: 40px;
    font-family: Verdana;
    color: white;
    text-align: center;
}

.imgprodutos{
    width: 180px;
}

.produtos1{
    margin: 60px;
}
.todososprodutos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}